* {box-sizing: border-box;}
html, body {margin: 0; padding: 0;}
form {width: 90%; margin: 5px 5%;}
input {width: 80%; height: 23px; border: 0; background-color: beige;}
button {width: 20%; cursor: pointer;}